<h1 class="task-list-title">LISTA DE TAREAS</h1>
<div class="filter-cont">
  <h2>Filtros:</h2>
  <button
    (click)="filterTaskBycondition('all')"
    [class.active]="currentFilter === 'all'"
  >
    Todas
  </button>
  <button
    (click)="filterTaskBycondition('completed')"
    [class.active]="currentFilter === 'completed'"
  >
    Completadas
  </button>
  <button
    (click)="filterTaskBycondition('pending')"
    [class.active]="currentFilter === 'pending'"
  >
    Pendientes
  </button>
</div>

<button class="navigate-button" [routerLink]="['/create-task']">
  Crear Tarea
</button>

<div *ngFor="let task of tasksfilter; let i = index" class="task-item">
  <h2 class="task-title">Tarea {{ i + 1 }} - {{ task.limitDate | date }}</h2>
  <h3 class="person-title">Personas Asociadas:</h3>
  <div *ngFor="let person of task.person" class="person-info">
    <p class="person-detail">- {{ person.personName }} ({{ person.age }})</p>
    <p class="skills-title">- Habilidades: {{ person.skill.join(", ") }}</p>
  </div>
</div>
