<h1 class="form-title">CREACIÓN DE TAREA</h1>

<form [formGroup]="tasksForm" (ngSubmit)="addTask()" class="task-form">
  <div class="task-section">
    <div class="form-group">
      <label for="taskName">Nombre de la tarea:</label>
      <input
        formControlName="taskName"
        id="taskName"
        type="text"
        class="form-control"
      />
    </div>
    <p *ngIf="validateErrors(tasksForm.get('taskName'))" class="error">
      Escribe un nombre valido para la tarea
    </p>

    <div class="form-group">
      <label for="limitDate">Fecha límite:</label>
      <input
        formControlName="limitDate"
        id="limitDate"
        type="date"
        class="form-control"
      />
    </div>
    <p *ngIf="validateErrors(tasksForm.get('limitDate'))" class="error">
      Digita una fecha
    </p>

    <div class="check-group">
      <label for="taskComplete">¿Completada?</label>
      <input
        type="checkbox"
        formControlName="taskComplete"
        id="taskComplete"
        class="checkbox-control"
      />
    </div>
  </div>

  <div class="person-section">
    <h2>Personas Asociadas</h2>
    <p
      *ngIf="personFormArray?.errors?.['duplicateName'] && personFormArray.value.length > 0"
      class="error"
    >
      Existen nombres duplicados en la tarea
      {{ tasksForm.get("taskName")?.value }}
    </p>
    <div formArrayName="person">
      <div
        *ngFor="let person of personFormArray.controls; let personIndex = index"
        [formGroupName]="personIndex"
        class="person-group"
      >
        <div class="form-group">
          <label for="personName">Nombre completo:</label>
          <input
            formControlName="personName"
            id="personName"
            type="text"
            class="form-control"
          />
        </div>
        <p *ngIf="validateErrors(person.get('personName'))" class="error">
          Escribe un nombre valido superior a 4 caracteres
        </p>

        <div class="form-group">
          <label for="age">Edad:</label>
          <input
            formControlName="age"
            id="age"
            type="number"
            class="form-control"
          />
        </div>
        <p *ngIf="validateErrors(person.get('age'))" class="error">
          Escribe la edad
        </p>

        <div formArrayName="skill" class="skill-section">
          <h5>Habilidades</h5>
          <p
            *ngIf="formSubmitted && person.get('skill')?.value.length <= 0"
            class="error"
          >
            Añade almenos una habilidad
          </p>
          <button
            type="button"
            (click)="addskillByPersonIndex(personIndex)"
            class="add-skill-btn"
          >
            Añadir habilidad
          </button>

          <div
            *ngFor="
              let skillControl of getSkillsByPersonIndex(personIndex).controls;
              let skillIndex = index
            "
            class="skill-group"
          >
            <div class="skill-row">
              <input
                [formControlName]="skillIndex"
                id="skill"
                type="text"
                class="form-control skill-input"
              />
              <button
                type="button"
                (click)="removeSkill(personIndex, skillIndex)"
                class="remove-btn"
              >
                Eliminar
              </button>
            </div>
          </div>
        </div>
        <button
          type="button"
          (click)="removePerson(personIndex)"
          class="remove-btn"
        >
          Eliminar persona
        </button>
      </div>

      <button type="button" (click)="addPerson()" class="add-person-btn">
        Añadir persona
      </button>
    </div>
  </div>

  <div class="submit-section">
    <button type="submit" class="submit-btn">Guardar Tarea</button>
    <button class="navigate-button submit-btn" [routerLink]="['/task-list']">
      Ver listado de tareas
    </button>
  </div>
  <p *ngIf="formSubmitted && !tasksForm.valid" class="error">
    Diligencie el formulario correctamente
  </p>
</form>
